*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}



body{

    margin:0;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111827;

    color:white;

}



/* ===== Авторизация ===== */


.container{

    width:380px;

    background:#1f2937;

    padding:30px;

    border-radius:20px;

    box-shadow:0 0 30px #000;

    text-align:center;

}



h1{

    margin-bottom:25px;

    color:#60a5fa;

}




input{

    width:100%;

    padding:14px;

    margin:8px 0;

    border:none;

    border-radius:10px;

    background:#374151;

    color:white;

    font-size:16px;

}




button{

    padding:14px;

    margin-top:10px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:#2563eb;

    color:white;

    font-size:16px;

}



button:hover{

    background:#1d4ed8;

}



.hidden{

    display:none;

}



.auth{

    margin-top:20px;

}







/* ===== Чат ===== */



.chat-app{

    display:flex;

    width:95%;

    max-width:1200px;

    height:90vh;

    background:#1f2937;

    border-radius:20px;

    overflow:hidden;

}





/* левая панель */


.sidebar{

    width:280px;

    background:#111827;

    padding:20px;

    overflow-y:auto;

}



.sidebar h2{

    color:#60a5fa;

}




.chat-item{

    width:100%;

    background:#374151;

    margin:10px 0;

    text-align:left;

}





#contacts{

    margin-top:15px;

}






/* окно чата */


.chat-window{

    flex:1;

    display:flex;

    flex-direction:column;

}




.chat-header{

    padding:20px;

    background:#2563eb;

    font-size:22px;

}





#messages{

    flex:1;

    padding:20px;

    overflow-y:auto;

}





#messages p{

    background:#374151;

    padding:10px;

    border-radius:10px;

}







/* отправка */


.send-box{

    display:flex;

    padding:15px;

    gap:10px;

}





.send-box input{

    flex:1;

    margin:0;

}





.send-box button{

    width:70px;

    height:50px;

    margin:0;

}





#logout{

    width:120px;

    margin:10px auto;

}








/* контакты + удаление */


.contact-row{

    display:flex;

    gap:5px;

    align-items:center;

}




.contact-row .contact{

    flex:1;

}





.delete-contact{

    width:45px;

    background:#dc2626;

    padding:10px;

}





.delete-contact:hover{

    background:#b91c1c;

}








/* телефон */


@media(max-width:700px){



.chat-app{

    width:100%;

    height:100vh;

    border-radius:0;

}




.sidebar{

    width:120px;

    padding:10px;

}




.chat-item{

    font-size:12px;

}




}
.message{

display:flex;

align-items:center;

gap:10px;

}



.delete-message{

width:40px;

padding:5px;

background:#dc2626;

}


.delete-message:hover{

background:#b91c1c;

}
